<!DOCTYPE html>
<html>
  <head>
    <!-- <title>Simple Map</title> -->
    <title>Points</title>

    <link rel="stylesheet" type="text/css" href="/styles/layout.css" />
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/styles/layout.scss" />
    <link rel="stylesheet" type="text/css" href="/styles/main.scss" /> -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- App JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>


  <body>
    <header id="body-header">
      <h1 id="app-name">Points</h1>
      <div>
        <p>Welcome back</p>
        <p id="username-welcome"><strong>Username!</strong></p>
      </div>
    </header>
    <main>
      <section class="map-info">
        <h2 id="map-name">Map Name</h2>
        <button class="main-btn" id="create-btn">Create Map</button>
        <button class="main-btn" id="available-btn">Available Maps</button>
        <button class="main-btn" id="favourite-btn">Favourite Maps</button>

        <div id="create-form">
          <form action="" method="post">
            <label for="map-title">Map Title</label>
            <input type="text" name="map-title">

            <label for="description">Short description</label>
            <input type="text" name="description">

            <input type="submit" value="Create new map">
          </form>
        </div>

        <div class="map-list hide-element" id="all-maps">
          <ul>
            <li>
              <div class="list-item">
                <h3>Best places to eat</h3>
                <p>Created by: Chris</p>
              </div>
            </li>

            <li>
              <div class="list-item">
                <h3>Hangout spots around town</h3>
                <p>Created by: Jomel</p>
              </div>
            </li>
          </ul>
        </div>

        <div class="map-list hide-element" id="fave-list">
          <ul>
            <li>
              <div class="list-item">
                <h3>Best places to eat</h3>
                <p>Created by: Chris</p>
              </div>
            </li>

            <li>
              <div class="list-item">
                <h3>Hangout spots around town</h3>
                <p>Created by: Jomel</p>
              </div>
            </li>

            <li>
              <div class="list-item">
                <h3>Avoid these spots!</h3>
                <p>Created by: Akbar</p>
              </div>
            </li>
          </ul>
        </div>

        <div id="point-form" class="hide-element">
          <form action="" method="">
            <label for="title">Point Title</label>
            <input type="text" name="title">

            <label for="desc">Description</label>
            <textarea name="desc" id="desc" cols="30" rows="5"></textarea>

            <label for="image">Image-placeholder</label>
            <input type="text" name="image">

            <input type="submit" value="Create Point">
          </form>
        </div>

      </section>
      <div id="map"></div>
    </main>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmf0FILTxGQMKFsGqDW0xpis92C5rVoXE&callback=initMap&v=weekly"
      async
    ></script>
  </body>
</html>
