body main {
  background-color: $secondary-bgc;
  display: flex;
  font-family: $body-font;

  .map-info {
    margin-top: 5rem;
    padding-left: 2em;
    width: 40%;
  }

  .main-btn {

  }
}

// List-Items
.map-list ul{
  list-style: none;
  padding: 0;

  li {
    background-color: white;
    border: solid 2px $red-accent;
    margin-bottom: 2em;
    text-align: center;
    width: 50%;
  }

  li:hover {
    background-color: #ef233bd8;
    border-radius: 5px;
    color: white;
  }
}
