#point-form {
  background-color: #ffffffaf;
  position: absolute;
  left: 40%;
  bottom: 0;
  z-index: 5;

  form {
    border: solid 5px $main-color;
    border-radius: 10px;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
  }
}

.hide-element {
  display: none;
}

// Create map form
#create-form {
  background-color: white;
  border-radius: 10px;
  margin-top: 2em;
  margin-right: 2em;

  form {
    display: flex;
    flex-direction: column;
    padding: 1em;

    label {
      color: $red-accent;
    }

    input[type=text] {
      border: none;
      border: 2px solid $red-accent;
      height: 2.5em;
    }

  }

  .label-under {
    background-color: $red-accent;
    color: white;
    margin-bottom: 2rem;
    padding: 4px;
  }

  input[type=submit] {
    background-color: white;
    border: solid 2px $red-accent;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    padding: 1em 2em;
    width: 10em;
  }

  input[type=submit]:hover {
    background-color: $red-accent;
    color: white;
  }
}
