#body-header {
  background-color: $main-color;
  color: white;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  padding-left: 2em;
  position: absolute;
  width: 40%;

  h1 {
    display: flex;
    align-items: center;

    img {
      height: 1em;
    }
  }

  div {
    padding-right: 2rem;
  }

  #app-name {
    font-family: $main-font;
  }
}
